<h2 class="pageTitle" >Graphs & Charts</h2>

<div class="pageFooter"></div>

<div class="logoCircle"><i class="icon-bar-chart"></i></div>

<% @bar_chart = Gchart.bar(:size => '850x300', 
            :title => "example title",
            :bg => 'efefef',
            :legend => ['first data set label', 'second data set label'],
            :data => [[10, 30, 120, 45, 72, 60, 70, 800 ,900, 80, 70, 50],[5,10,20,30,40,30,40,50,30,40,50,20]],
            :stacked => false,
            :bar_colors => 'FF0000,39a32f',
            :axis_with_labels => ['x','y','r'],
            :background => 'FFFFFF',
            animation: { duration: 100000, easing: 'in' },
            :axis_labels => ['Apr|May|Jun|July|Aug|Sep|Oct|Nov|Dec|Jan|Feb|Mar']) %>


<%= high_chart("my_id1", @chart)  %>

<%= high_chart("my_id2", @chart_cumulative)  %>

<%= high_chart("my_id3", @chart_pie) do |c| %>
<%= raw "options.tooltip.formatter = function() {return this.point.name +'</b>: £'+ this.y;}"  %>
<%= raw "options.plotOptions.pie.dataLabels.formatter = function() { if (this.y > 5) return this.point.name; }"  %>
<% end %>
