<% provide(:title, @user.name.titleize) %>

<div class="sideDashboard side active">

    <div class="header"><i class="icon-double-angle-down"></i>Dashboard</div>
    
    <div class="alert"></div>
    
    <% if false %>
    
    <div class="dashboardMenu"></div>
    
    <div class="dashboardMenu">

    </div>
    
    <% end %>
    
    <div class="sidelogoCircle"><i class="icon-tasks"></i></div>

    <div class="footer"></div>

</div>

<div class="sideNotes side">

    <div class="header"><i class="icon-double-angle-down"></i>Notes</div>
    
    <div class="alert"></div>

    <div class="noteSummary" id="1">
    </div>
    
</div>

<div class="sideReceipts side">

    <div class="header"><i class="icon-double-angle-down"></i>Receipts</div>
    
    <div class="alert"></div>
    
    <div class="receiptSummary" id="1">
    </div>
    
</div>

<div class="sideInvoices side">

    <div class="header"><i class="icon-double-angle-down"></i>Invoices</div>
    
    <div class="alert"></div>
    
    <div class="invoiceSummary" id="1">
    </div>
    
</div>

<div class="sideIncome side">

    <div class="header"><i class="icon-double-angle-down"></i>Income</div>
    
    <div class="alert">Add new income using the form below.</div>
    
    <div class="formContainer" id="incomeform">
    
    <%= render 'incomes/form' %>
    
    <div class="sidelogoCircle"><i class="icon-money"></i></div>

    </div>

    <div class="footer"></div>

</div>

<div class="sideExpenses side">

    <div class="header"><i class="icon-double-angle-down"></i>Expenses</div>
    
    <div class="alert">Add new expenses using the form below.
    
    <div class="help">If you need help understanding what expenses you are eligable to claim for, click here.</div>
    
    </div>
    
    <div class="formContainer">
    
    <%= render 'expenses/form' %>
    
    <div class="sidelogoCircle"><i class="icon-credit-card"></i></div>

    </div>

    <div class="footer"></div>

</div>

<div class="sideClients side">

    <div class="header"><i class="icon-double-angle-down"></i>Clients</div>
    
    <div class="alert">Add new clients using the form below.</div>

    <div class="formContainer">
    
    <%= render 'clients/form' %>
    
    <div class="sidelogoCircle"><i class="icon-group"></i></div>
    
    </div>

    <div class="footer"></div>

</div>

<div class="sideReports side">

    <div class="header"><i class="icon-double-angle-down"></i>Charts & Graphs</div>
    
    <div class="alert"><div class="help">To better understad your business we have created graphs to display the performace of your business over the financial year.</div></div>
    
    <div class="sidelogoCircle"><i class="icon-bar-chart"></i></div>

    <div class="footer"></div>

</div>

<div class="sideBar">

<i id="sideDashboard" class="icon-tasks sidebarItem active"><div class="tooltip">Dashboard</div></i>

<% if false %>

<i id="sideNotes" class="icon-edit sidebarItem"><div class="tooltip">Notes</div></i>

<i id="sideReceipts" class="icon-folder-open-alt sidebarItem"><div class="tooltip">Receipts</div></i>

<i id="sideInvoices" class="icon-envelope sidebarItem"><div class="tooltip">Invoices</div></i>

<% end %>

<i id="sideIncome" class="icon-money sidebarItem"><div class="tooltip">Income</div></i>

<i id="sideExpenses" class="icon-credit-card sidebarItem"><div class="tooltip">Expenses</div></i>

<i id="sideClients" class="icon-group sidebarItem"><div class="tooltip">Clients</div></i>

<i id="sideReports" class="icon-bar-chart sidebarItem"><div class="tooltip">Graphs</div></i>

</div>

<div class="mainWindow">

<div class="page">

<% if params[:display] %>

<%= render 'users/' + params[:display] %>

<% else %>

<%= render 'users/dashboard' %>

<% end %>

</div>

</div>

</div>

<div class="backtoTop"><i class="icon-arrow-up"></i></div>


